/* Estilo general para el contenedor del Dashboard */
.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
  /* Barra lateral */
  .dashboard-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto asegura que los elementos se distribuyan bien */
    width: 250px;
    background-color: #b9c6df;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  /* Menú lateral */
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin-bottom: auto; /* Esto empuja las opciones del menú hacia arriba */
  }
  
  .menu-item {
    margin-bottom: 20px;
  }
  
  .menu-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }
  
  .menu-link:hover {
    color: #007BFF;
  }
  
  /* Cuadro de información del usuario */
  .user-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #4282cc;
    border-radius: 10px;
    border: 1px solid #4282cc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .username {
    font-size: 18px;
    font-weight: bold;
  }
  
  .user-email {
    font-size: 12px;
    color: #ffffff;
  }
  
  .logout-button {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #ff4d4d;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background-color: #ff0000;
  }

  /* Contenido principal */
  .dashboard-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  }

/* Contenedor del logo */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff00;
  border-radius: 20px;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0);
  border: 1px solid #dddddd00;
}

/* Estilo del logo */
.app-logo {
  width: 180px;
  height: auto;
  margin-bottom: 110px;
}