.chatbot-container {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #0E131F;
  }
  
  .chatbot-title {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .chatbot-window {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
  }
  
  .message {
    margin-bottom: 10px;
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
  }
  
  .user-message {
    align-self: flex-end;
    background-color: #007bff;
    color: #fff;
    margin-left: auto;
    text-align: right;
  }
  
  .bot-message {
    align-self: flex-start;
    background-color: #eaeaea;
    color: #333;
  }
  
  .message-text {
    margin: 0;
    font-size: 14px;
  }
  
  .input-container {
    display: flex;
    margin-top: 10px;
  }
  
  .input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .send-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .send-button:hover {
    background-color: #6a11cb;
  }
  