/* Contenedor principal */
.config-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.columns-container {
  display: flex;
  gap: 20px;
}

/* Cuadro de configuración */
.config-box {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  flex: 1;
}

.membership-section p,
.membership-section h3 {
  color: black;
}

.config-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

/* Grupo de formulario */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.form-group textarea {
  resize: none;
  height: 80px;
}

/* Botones */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.save-button,
.reset-button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.save-button {
  background-color: #007bff;
}

.save-button:hover {
  background-color: #0056b3;
}

.reset-button {
  background-color: #ff6f61;
}

.reset-button:hover {
  background-color: #d9534f;
}

/* Planes */
.plan-options {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.plan-button {
  background-color: #78858f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  display: block; /* Hace que el botón sea un bloque */
  margin: 0 auto; /* Centra el botón horizontalmente */
}

.plan-button:hover,
.plan-button.active {
  background-color: #4caf50;
  color: white;
}

.plan-details {
  margin-top: 10px;
}

/* Error */
.error {
  color: #d9534f;
  font-size: 12px;
}

/* Estilo para el botón de "Modificar Plan" */
.upgrade-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  display: block; /* Convierte el botón en un bloque */
  margin: 10px auto; /* Centra el botón horizontalmente */
  width: fit-content; /* Ajusta el ancho al contenido del botón */
}

/* Efecto cuando el botón está en hover */
.upgrade-button:hover {
  background-color: #218838; /* Color más oscuro al hacer hover */
  transform: translateY(-2px); /* Efecto de elevación */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

/* Efecto cuando el botón es clickeado */
.upgrade-button:active {
  transform: translateY(1px); /* Efecto de "presionado" */
  box-shadow: none; /* Quitar sombra cuando está presionado */
}

/* Precio del plan */
.plan-price {
  font-size: 1.25rem;
  color: #2c3e50;
  margin-bottom: 20px;
}

