/* Contenedor principal */
.config-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f3f4f6;
}

/* Cuadro de configuración */
.config-box {
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px; /* Limitar el ancho máximo */
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra para efecto flotante */
}


.title-opcion{
  color: white
}

.config-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
}

/* Color diferente para cada sección */
.config-box.user-config,
.config-box.company-config,
.config-box.membership-config {
  background-color: #0e131f; /* Cambiar a un color claro para el fondo */
  color: rgb(255, 255, 255); /* Asegurar que todo el texto sea negro */
}

/* Grupo de formulario */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(255, 255, 255); /* Etiquetas de texto en negro */
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 5px;
}

/* Botones */
.save-button,
.upgrade-button {
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.save-button {
  background-color: #FF0035;
}

.save-button:hover {
  background-color: #FF0035;
}

.upgrade-button {
  background-color: #FF0035;
}

.upgrade-button:hover {
  background-color: #6a11cb;
}

/* Planes */
.plan-options {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 20px 0;
}

.plan-column {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  width: 45%;
  text-align: center;
}

.plan-column h3 {
  font-size: 20px;
  color: black;
}

.plan-column p {
  color: black;
  font-size: 16px;
}

.plan-column ul {
  list-style-type: none;
  padding: 0;
}

.plan-column ul li {
  color: black;
  margin: 5px 0;
}

.plan-button {
  padding: 10px;
  font-size: 14px;
  border: none;
  background-color: #FF0035;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}
/* Beneficios individuales */
.benefits {
  margin: 10px 0;
}

.benefit {
  padding: 10px;
  background-color: #f4f4f4; /* Fondo claro */
  color: black; /* Texto negro */
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

.benefit.alt {
  background-color: #e0e0e0; /* Fondo alternado */
}



.plan-button:hover {
  background-color: #6a11cb;
}

/* Resaltar el plan seleccionado */
.highlighted {
  border: 2px solid #6a11cb;
  background-color: #d9caf0;
}

.active {
  background-color: #6a11cb;
}
